.jobs-header {
  --background: #1e40af;
}

.home-content, .jobs-content {
  --background: #f8fafc !important;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
}

.greeting {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1e2937;
  margin: 0;
}

.sub-greeting {
  font-size: 1rem;
  color: #64748b;
  margin: 4px 0 0 0;
}

.notification-btn {
  --color: #1e2937;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px 12px;
}

.custom-searchbar {
  flex: 1;
  --background: rgb(249, 249, 249);
  --border-radius: 12px;
  --box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  color: #1e2937;
}

.filter-btn {
  --color: #64748b;
}

.filters {
  display: flex;
  gap: 8px;
  padding: 0 16px 16px;
  overflow-x: auto;
  white-space: nowrap;
  --background: #000000;
}

.filters ion-chip{
  --background: #bcbcbc;
  --color: #1e2937;
}

.active-chip {
  background: #2563eb !important;
  color: white !important;
  font-weight: 600;
}

.job-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 12px;
  font-weight: 600;
  color: #1e2937;
}

.see-all {
  color: #2563eb;
  font-size: 0.95rem;
}

.job-list {
  padding: 0 16px;
}

.job-card {
  background: white;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 14px;
  width: 100%;
}

.company-logo .logo-circle {
  width: 48px;
  height: 48px;
  background: #3b82f6;
  color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
}

.job-info {
  flex: 1;
  color: #2e2e2e;
  font-weight: bold;
}

.job-info h3 {
  margin: 0 0 0 0;
  font-size: 1.25rem;
}

.company-name {
  color: #64748b;
  font-size: 0.95rem;
}

.job-meta {
  display: flex;
  gap: 8px;
  font-size: 0.95rem;
  color: #64748b;
  margin-bottom: 10px;
}

.job-tags {
  display: flex;
  justify-content: flex-end !important;
  gap: 8px;
  align-items: center !important;
}

.tag {
  background: #f1f5f9;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.95rem;
  color: #453636;
}

.quick-apply {
  --background: #2563eb;
  --color: white;
  --border-radius: 20px;
  font-size: 0.85rem;
  padding: 0 14px;
  height: 28px;
}

.save-icon {
  color: #94a3b8;
  font-size: 1.6rem;
  cursor: pointer;
  transition: color 0.2s ease;
  margin-left: auto;
}

.save-icon.saved {
  color: #ef4444 !important;
}

.save-icon:hover {
  color: #ef4444;
}

