.logo-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #0BACE1 0%, #065E7B 100%);
  opacity: 1;
  transition: opacity 0.8s ease;
}

.logo-screen.fade-out {
  opacity: 0;
}

.logo-screen img {
  width: 150px;
}